@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$main-font: 'Roboto', sans-serif;

$color-text: #555555;
$color-btn: #007bff;

$color-griffindor: #CD2F2F;
$color-slytherin: #43A78F;
$color-ravenclaw: #3C92C2;
$color-hufflepuff: #EEC65E;

$bp-xxs: "480px";
$bp-xs: "640px";
$bp-s: "768px";
$bp-m: "1024px";
$bp-l: "1200px";
