@import "./partials/variables.scss";
@import "./partials/common.scss";
@import "./partials/main-page.scss";
@import "./partials/header-page.scss";
@import "./partials/counter-page.scss";
@import "./partials/sliders-page.scss";
@import "./partials/landing-page.scss";
@import "./partials/to-do-app.scss";
@import "./partials/form-page.scss";


* {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    color: $color-text;
    box-sizing: border-box;
}
html {
    height: 100%;
}